:root {
    --background-color: rgb(2, 2, 2);
    --font-color: white;
    --font-secondary-color: rgb(218, 218, 218);

    --tab-outline-color: white;
    --card-background-color: rgba(0, 0, 0, 0.214);
    --tab-background-color: var(--card-background-color);
    --card-border-color: white;
    --main-font: 'Courier New', Courier, monospace;
}

body {
    background: var(--background-color);
    font-family: var(--main-font);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: var(--font-color);
}

canvas {
    position: relative;
    height: 100%;
    width: 100%;
}

#filter-div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(15px);
}

#tabs {
    --tab-height: 30px;
    position: fixed;
    bottom: 100%;
    left: 0px;
    display: flex;
    align-items: flex-end;
    gap: 10px;
}

.tab-button {
    background-color: var(--tab-background-color);
    outline: none;
    border: none;
    position: relative;
    bottom: 2px;
    border: 2px solid var(--tab-outline-color);
    color: var(--font-color);
    height: var(--tab-height);
    width: 90px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 5px 5px 0px 0px;
    backdrop-filter: blur(50px);
    margin: -2px; /* Added to offset the border */
    z-index: -1;
    font-family: var(--main-font);
}

.tab-button.active {
    height: calc(1.2 * var(--tab-height));
    margin-bottom: -2px; /* Seam fix */
    /*border-bottom: var(--card-background-color) 2px solid;*/
    z-index: 1;
}

#card {
    border: none;
    outline: none;
    border: 2px solid var(--card-border-color);
    border-radius: 0px 10px 10px 10px;
    width: 35%;
    height: 35%;
    background-color: var(--card-background-color);
    padding: 20px;
    box-sizing: border-box;
    backdrop-filter: blur(50px);
    color: var(--font-color);
    text-align: center;
    transition: 0.1s;
    text-align: left;
}

#card p {
    margin: 0;
    font-size: 1.2em;
    line-height: 1.5;
}

a {
    color: var(--font-color);
}

ul{
    line-height: 2;
}

@media screen and (max-height: 900px){
    #card {
        height: 70%;

        border-radius: 10px;
    }
}

@media screen and (max-height: 450px){
    #card p{
        font-size: 1em;
    }
}

@media screen and (max-width: 1000px) {
    #card {
        width: 90%;

        border-radius: 10px;
    }
    
    #card p{
        font-size: 1em;
    }
    
    #tabs {
        gap: 5px;
        /* center tabs */
        left: 50%;
        transform: translateX(-50%);
    }
}
