/*
#202225
#292b2f
#2f3136
#40444b
#36393F
*/

html{
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
    --content-width: 200px;
    --dark-mode-bg: #202225;
    --dark-mode-text: #F6F6F6;
    --dark-mode-link: #bebebe;
    --dark-mode-link-hover: rgb(255, 255, 255);
    --dark-mode-bg-2: #292b2f;
    background-repeat: no-repeat;
    background-position: center 10px;
    background-size: 100%;
    background-attachment: fixed;

}
body{
    background-color: rgb(255, 255, 255);
}
.dark-mode button{
    color: var(--dark-mode-text);
}
.dark-mode button:hover{
    color: #815bff !important;
}
.dark-mode a{
    color: var(--dark-mode-text) !important;
}
.dark-mode a:hover{
    color: var(--dark-mode-link-hover) !important;
}
.dark-mode{
    background-color: var(--dark-mode-bg) !important;
    color: var(--dark-mode-text) !important;
}
.dark-mode #top-bar{
    background-color: var(--dark-mode-bg-2) !important;
    color: var(--dark-mode-text) !important;
}
#content{
    
    margin-top: 120px;
    margin-left: var(--content-width);
    /*stop text from going off-screen*/
    max-width: calc(100% - (var(--content-width) * 2));

}
#mode-button{
    position: absolute;
    outline: none;
    border: none;
    background-color: transparent;
    top: 10px;
    right: 10px;
    font-size: 20px;
}
#top-bar{
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    justify-content: center;
    text-align: center;
}
#top-bar>*{
    display: inline-block;
    padding: 10px 10px;
}
#top-bar>a{
    font-size: 14px;
    font-weight: 500;
    line-height: 54px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0px 5px;
}
#pg-title{
    font-size: 26px;
    font-weight: 300;
    line-height: 54px;
    letter-spacing: -1px;
}
.tb-link{
    font-size: 14px;
    font-weight: 500;
    line-height: 54px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0px 5px;
    /*position them in a line next to the title*/
    float: left;

}
img{
    max-width: calc(var(--content-width)*4);
}

/* change content width for mobile */
@media (max-width: 600px) {
    html{
        --content-width: 0px;
        font-size: 25px;
    }
    #content{
        --content-width: 0px;
        margin-left: 0;
        
    }
    img{
        max-width: 100%;
    }
}
@media (max-width: 1200px) {
    html{
        font-size: 20px;
        --content-width: 50px;
    }
    #content{
        --content-width: 50px;
        
    }
}